@import '../../styles/_variables.scss';

.message{
    $self:&;

    display: flex;
    margin: 20px;

    &--is-audio{

        width: 300px;

        #{$self}__bubble{
            width: 250px;
        }

        #{$self}__audio{
            &-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            &-btn{
                button{
                    border:0;
                    width: 28px;
                    height: 28px;
                    border-radius: 30px;
                    background: #0f3997;
                    cursor: pointer;

                    img{
                        height: 11px;
                        
                    }
                }
            }
        }
    }

    &--isme{
        display: flex;
        flex-direction: row-reverse;

        .message__content{
            display: flex;
            margin-bottom: 15px;
            flex-direction: row-reverse;
        }

        .message__avatar{
           
            img{
                margin-left: 13px;
                margin-right: 0px;
            }
        }

        .message__bubble{
            background: #fff;
            border:1px solid #e3e3e3;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
            border-radius:12px 12px 0px 12px;

        
        }
        
        .message__info{
            text-align: right;
        }

        .message__text{
            color:$black;
        }
        .message__date{
            display: flex;
            justify-content: flex-end;
        }
    }

    &__content{
        display: flex;
        margin-bottom: 15px;
        position: relative;
    }

    &__icon-readed{
        position: absolute;
        left: -25px;
        bottom: 25px;
    }

    &__avatar{
        display: flex;
        flex-direction: column-reverse;
       
        img{
            border-radius: 50px;
            width: 33px;
            height: 33px;
            margin-right: 13px;
            margin-bottom: 5px;
        }
    }

    &__bubble{
        
        background:$blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
        border-radius:12px 12px 12px 0px;
        padding: 15px;
        margin-bottom: 8px;
        
    }

    &__text{
        color:#fff;
        line-height: 20px;
        word-wrap: break-word;
        max-width: 440px;
    }

    &__date{
        font-size: 12px;
        opacity: 0.4;
    }

    &__attachments{
        display: flex;
        margin-bottom: 5px;
        cursor: pointer;
        &-item{
            margin-right: 5px;
            img{
                width: 45px;
                height: 45px;
                border-radius: 8px;
            }
        }
    }

    /////////////////////////////

    &--is-typing{

        .message__bubble{
            background:$light-blue;
            padding: 15px 20px;
        }
    }

    &--image{
        .message__attachments{
            &-item{
                img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }

    //bubble typing animation

   &_typing{
       span{
           height: 8px;
           width: 8px;
           border-radius: 50%;
           background: $message-typing-circle;
           display: inline-block;
           margin-right:8px;
           animation-name: typingAnimation;
           animation-timing-function: ease-in-out;
           animation-iteration-count: infinite;
           animation-duration: 0.6s;


           &:nth-of-type(2){
            animation-delay: 0.7s;
            }

            &:nth-of-type(3){
                animation-delay: 0.8s;
            }
       }
   }
    

}


@keyframes typingAnimation {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}